body {
    background-color: rgb(196, 201, 214);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div {
    background-color: rgb(255, 255, 255);
    width: 290px;
    height: 450px;
    border-radius: 10px;
    margin-top: 150px;
    transition: 3s;
    
}

div:hover {
    transform: scale(1.1);
    transition: 2s;
}


div img {
    width: 90%;
    margin-top: 15px;
    border-radius: 10px;
}

h1 {
    font-size: 20px;
    margin-left: 32px;
    max-width: 220px;
}

p {
    font-size: 15px;
    max-width: 240px;
    margin-left: 22px;
    color: rgb(126, 125, 125);

}
